<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.coupon.mapper.CouponMapper">
    <!--优惠券表-->
    <resultMap id="couponMap" type="com.mall.coupon.entity.CouponEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="admin_user_id" property="adminUserId" jdbcType="BIGINT"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="use_threshold" property="useThreshold" jdbcType="INTEGER"/>
        <result column="min_consumption" property="minConsumption" jdbcType="INTEGER"/>
        <result column="discount_amount" property="discountAmount" jdbcType="INTEGER"/>
        <result column="use_scope" property="useScope" jdbcType="INTEGER"/>
        <result column="goods_category_ids" property="goodsCategoryIds" jdbcType="VARCHAR"/>
        <result column="goods_ids" property="goodsIds" jdbcType="VARCHAR"/>
        <result column="applicable_member" property="applicableMember" jdbcType="VARCHAR"/>
        <result column="issue_number" property="issueNumber" jdbcType="INTEGER"/>
        <result column="received_number" property="receivedNumber" jdbcType="INTEGER"/>
        <result column="per_limit" property="perLimit" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="c_auth_status" property="authStatus" jdbcType="INTEGER"/>
        <result column="auth_opinion" property="authOpinion" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="valid_period_start" property="validPeriodStart" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="valid_period_end" property="validPeriodEnd" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
    </resultMap>

    <!--分页查询优惠券列表-->
    <select id="queryPage" resultMap="couponMap">
        SELECT c.id,
               c.name,
               c.source,
               c.admin_user_id,
               c.type,
               c.use_threshold,
               c.min_consumption,
               c.discount_amount,
               c.use_scope,
               c.goods_category_ids,
               c.goods_ids,
               c.applicable_member,
               c.issue_number,
               c.received_number,
               c.valid_period_start,
               c.valid_period_end,
               c.per_limit,
               c.status,
               c.auth_status AS c_auth_status,
               c.auth_opinion,
               c.create_by,
               c.update_by,
               c.create_time,
               c.update_time
        FROM coupon c
        ${ew.customSqlSegment}
    </select>

    <!--根据id集合批量查询-->
    <select id="getBatchByIds" resultMap="couponMap">
        SELECT c.id,
               c.name,
               c.source,
               c.admin_user_id,
               c.type,
               c.use_threshold,
               c.min_consumption,
               c.discount_amount,
               c.use_scope,
               c.goods_category_ids,
               c.goods_ids,
               c.applicable_member,
               c.issue_number,
               c.received_number,
               c.valid_period_start,
               c.valid_period_end,
               c.per_limit,
               c.status,
               c.auth_status AS c_auth_status,
               c.auth_opinion,
               c.create_by,
               c.update_by,
               c.create_time,
               c.update_time
        FROM coupon c
        <where>
            <if test="ids != null and ids.length > 0">
                AND c.id in
                <foreach collection="array" item="ids" open="(" separator="," close=")">
                    #{ids}
                </foreach>
            </if>
        </where>
    </select>



</mapper>