<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.goods.mapper.GoodsMapper">
    <!--商品表-->
    <resultMap id="baseGoodsMap" type="com.mall.goods.entity.GoodsEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="admin_user_id" property="adminUserId" jdbcType="BIGINT"/>
        <result column="goods_category_ids" property="goodsCategoryIds" jdbcType="VARCHAR"/>
        <result column="on_sale" property="onSale" jdbcType="TINYINT"/>
        <result column="freight_setting" property="freightSetting" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="brand_id" property="brandId" jdbcType="BIGINT"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="images" property="images" jdbcType="LONGVARCHAR"/>
        <result column="info_detail" property="infoDetail" jdbcType="LONGVARCHAR"/>
        <result column="specification_type" property="specificationType" jdbcType="INTEGER"/>
        <result column="params" property="params" jdbcType="LONGVARCHAR"/>
        <result column="points" property="points" jdbcType="INTEGER"/>
        <result column="recommend" property="recommend" jdbcType="VARCHAR"/>
        <result column="weight" property="weight" jdbcType="DECIMAL"/>
        <result column="volume" property="volume" jdbcType="DECIMAL"/>
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--商品sku表-->
    <resultMap id="baseGoodsSkuMap" type="com.mall.goods.entity.GoodsSkuEntity">
        <id column="sku_id" property="id" jdbcType="BIGINT"/><!--避免和主表主键相同，故起别名-->
        <result column="goods_id" property="goodsId" jdbcType="BIGINT"/>
        <result column="sku_code" property="code" jdbcType="VARCHAR"/>
        <result column="original_price" property="originalPrice" jdbcType="DECIMAL"/>
        <result column="selling_price" property="sellingPrice" jdbcType="DECIMAL"/>
        <result column="stock" property="stock" jdbcType="INTEGER"/>
        <result column="enable" property="enable" jdbcType="TINYINT"/>
        <result column="image" property="image" jdbcType="VARCHAR"/>
        <result column="extend_attr" property="extendAttr" jdbcType="VARCHAR"/>
        <result column="extend_value" property="extendValue" jdbcType="VARCHAR"/>
    </resultMap>
    <!--查询goods和goodsSku组合分页查询结果实体-->
    <resultMap id="goodsMap"
               type="com.mall.goods.entity.GoodsEntity"
               extends="baseGoodsMap">
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR"/>
        <result column="brand_name" property="brandName" jdbcType="VARCHAR"/>
        <collection property="goodsSkuList"
                    ofType="com.mall.goods.entity.GoodsSkuEntity"
                    column="id"
                    select="queryGoodsSku">
        </collection>
    </resultMap>
    <resultMap id="goodsSkuMap"
               type="com.mall.goods.entity.GoodsSkuEntity"
               extends="baseGoodsSkuMap">
    </resultMap>
    <!--查询单条商品记录，包括sku-->
    <resultMap id="goodsAndGoodsSkuMap"
               type="com.mall.goods.entity.GoodsEntity"
               extends="baseGoodsMap">
        <collection property="goodsSkuList"
                    ofType="com.mall.goods.entity.GoodsSkuEntity"
                    column="id"
                    resultMap="goodsSkuMap">
        </collection>
    </resultMap>

    <!--分页查询商品列表（包括所属商户）-->
    <select id="queryPage" resultMap="goodsMap">
        SELECT gs.id,
               gs.name,
               gs.keyword,
               gs.admin_user_id,
               gs.goods_category_ids,
               gs.on_sale,
               gs.freight_setting,
               gs.code,
               gs.brand_id,
               gs.unit,
               gs.description,
               gs.images,
               gs.info_detail,
               gs.specification_type,
               gs.params,
               gs.points,
               gs.recommend,
               gs.weight,
               gs.volume,
               gs.create_time,
               gs.update_time,
               au.name AS merchant_name,
               b.name AS brand_name
        FROM goods gs
        LEFT JOIN admin_user au ON au.id=gs.admin_user_id
        LEFT JOIN brand b ON gs.brand_id=b.id
        ${ew.customSqlSegment}
    </select>
    <select id="queryGoodsSku" resultMap="goodsSkuMap">
        SELECT
            id AS sku_id,
            goods_id,
            code,
            original_price,
            selling_price,
            stock,
            enable,
            image,
            extend_attr,
            extend_value
        FROM goods_sku
        WHERE goods_id = #{id}
    </select>

    <select id="getGoodsAndSku" resultMap="goodsAndGoodsSkuMap">
        SELECT g.id,
               g.name,
               g.keyword,
               g.admin_user_id,
               g.goods_category_ids,
               g.on_sale,
               g.freight_setting,
               g.code,
               g.brand_id,
               g.unit,
               g.description,
               g.images,
               g.info_detail,
               g.specification_type,
               g.params,
               g.points,
               g.recommend,
               g.weight,
               g.volume,
               g.create_time,
               g.update_time,
               gs.id AS sku_id,
               gs.goods_id,
               gs.code sku_code,
               gs.original_price,
               gs.selling_price,
               gs.stock,
               gs.enable,
               gs.image,
               gs.extend_attr,
               gs.extend_value
        FROM goods g
                 LEFT JOIN goods_sku gs
                           ON g.id = gs.goods_id
        WHERE g.id=#{id}
    </select>


</mapper>