<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.goods.mapper.GoodsCategoryMapper">

    <resultMap id="goodsCategoryTree" type="com.mall.goods.entity.GoodsCategoryEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="BIGINT" />
        <result column="order_num" property="orderNum" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
        <!--id作为参数递归调用queryGoodsCategoryTree，查询子节点-->
        <collection property="children" column="id" select="queryGoodsCategoryTree" ofType="com.mall.goods.entity.GoodsCategoryEntity"></collection>
    </resultMap>

    <!--根据父id获取子节点-->
    <select id="queryGoodsCategoryTree" resultMap="goodsCategoryTree">
        select * from goods_category where parent_id = #{id} order by order_num
    </select>

    <!--根据父id查询菜单-->
    <select id="queryListParentId" resultType="com.mall.goods.entity.GoodsCategoryEntity">
        SELECT * FROM goods_category WHERE parent_id = #{parentId} ORDER BY order_num;
    </select>

</mapper>