<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.order.mapper.OrderDetailMapper">

    <resultMap id="cartMap" type="com.mall.order.vo.OrderSkuCountVO">
        <result column="sku_id" property="skuId" jdbcType="BIGINT"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getSkuIdAndCountByTradeCode" parameterType="java.lang.String" resultMap="cartMap">
        select od.goods_sku_id sku_id, od.goods_count count from trade t
            left join order_info oi on t.id = oi.trade_id
            left join order_detail od on oi.id = od.order_id
        where t.code = #{code}
    </select>

    <select id="getSkuIdAndCountByOrderCode" parameterType="java.lang.String" resultMap="cartMap">
        select od.goods_sku_id sku_id, od.goods_count count from order_info oi
            left join order_detail od on oi.id = od.order_id
        where oi.code = #{code}
    </select>

    <select id="count" resultType="int">
        select count(od.id) from order_detail od
        left join order_info oi on od.order_id=oi.id
        <where>
            <if test="startTime != null">
                and oi.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and oi.create_time &lt;= #{endTime}
            </if>
            <if test="status != null and status != ''">
                and oi.status = #{status}
            </if>
            <if test="merchantId != null">
                and oi.merchant_id = #{merchantId}
            </if>
        </where>
    </select>

    <!--销售额-->
    <select id="salesVolume" resultType="java.math.BigDecimal">
        select IFNULL(sum(od.goods_selling_price),0) from order_detail od
        left join order_info oi on od.order_id=oi.id
        <where>
            <if test="startTime != null">
                and oi.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and oi.create_time &lt;= #{endTime}
            </if>
            <if test="status != null and status != ''">
                and oi.status = #{status}
            </if>
            <if test="merchantId != null">
                and oi.merchant_id = #{merchantId}
            </if>
        </where>
    </select>

    <!--近六个月的订单量-->
    <select id="getRecentSixMonthOrderCount" resultType="com.mall.order.vo.RecentSixMonthOrderCountVO">
        select date_format(oi.create_time, '%Y-%m') AS yearMonth, count(od.id) as `count` from order_detail od
        left join order_info oi on od.order_id=oi.id
        <where>
            oi.status = 'FINISHED'
            <if test="merchantId != null">
                and oi.merchant_id = #{merchantId}
            </if>
        </where>
        group by yearMonth
        order by yearMonth
    </select>
</mapper>