<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admin.mapper.UserRoleMapper">

    <!-- 根据用户ID，获取角色ID列表 -->
    <select id="queryRoleIdList" resultType="Long">
        SELECT role_id FROM user_role WHERE user_id = #{userId};
    </select>

    <select id="deleteBatch" resultType="String">
        DELETE * FROM user_role WHERE role_id IN
        <foreach item="roleId" collection="array" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

</mapper>