<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.seckill.mapper.SeckillGoodsSkuMapper">

    <!--秒杀商品sku详细信息-->
    <resultMap id="SeckillGoodsSkuVOMap" type="com.mall.seckill.vo.SeckillGoodsSkuVO">
        <result column="seckill_goods_sku_id" property="id" jdbcType="BIGINT"/>
        <result column="seckill_config_id" property="seckillConfigId" jdbcType="BIGINT"/>
        <result column="goods_sku_id" property="goodsSkuId" jdbcType="BIGINT"/>
        <result column="seckill_price" property="seckillPrice" jdbcType="DECIMAL"/>
        <result column="seckill_stock" property="seckillStock" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询商品sku信息，关联秒杀商品的sku详细信息-->
    <select id="getSeckillGoodsSkuListByIds" resultMap="SeckillGoodsSkuVOMap">
        SELECT
            sgs.id AS seckill_goods_sku_id,
            sgs.seckill_config_id,
            sgs.goods_sku_id,
            sgs.seckill_price,
            sgs.seckill_stock
        FROM seckill_goods_sku sgs
        WHERE
            sgs.goods_sku_id in
            <foreach collection="seckillGoodsSkuIds" item="seckillGoodsSkuId" index="index" open="(" close=")" separator=",">
                #{seckillGoodsSkuId}
            </foreach>
    </select>
</mapper>